@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
background : #232529;
}

.bg{
  background: #232529;
}

.search-input{
  background: #4e505567;
  color: white;
}

.blue-btn{
  background-color: #2494D9;
}

.blue-btn:hover{
  background-color: #77D9F7;
}
